*{margin: 0%;}
body{
    font-family: 'Ubuntu', sans-serif;
    background: white;
}
h2{
    font-weight: 600;
    padding: 30px;
}
h3{
    font-weight: 400;
}
p{
    font-weight: 300;
}
.wrapper{
    width: 90%;
    max-width:1000px ;
    margin: auto;
    overflow: hidden;
}
header{
    width: 100%;
    overflow: hidden;
    background: #45818e;
    margin-bottom: 20px;
}
header .logo{
    color: black;
    font-size: 50px;
    line-height: 200px;
    float: left;
}
header nav{
float: right;
line-height:200px ;
}
.nav-enlace{
    display: inline-block;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    line-height:normal;
    font-size: 20px;
    font-weight: bold;
}
.nav-enlace:hover{
    background: cyan;
    border-radius: 50px;
}
.container{
    margin: 0 auto;
    width: 50%px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.columna{
    background: rgb(228, 228, 228);
    color: #333;
    border: 1px solid #333;
    margin: 30px;
    padding:10px ;
    border-radius:20px ;
    box-shadow: 2px 2px 1px #888;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
}
.precio{
    font-size: 50px;
    color: #45818e;
}
.comprar{
    background: salmon;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}
.comprar:hover{
    background: rgb(247, 100, 84);
}
.mapa{
padding: 20px;
}
footer{
    width: 100%;
    overflow: hidden;
    background: #45818e;
    margin-bottom: 20px;
    padding:20px ;
}
.enlace-contacto{
    display: block;
    text-decoration: none;
    color: black;
    width: max-content;
    padding: 5px;
    line-height:normal;
    font-size: 20px;
    font-weight: bold;
}
.enlace-contacto:hover{
    background: cyan;
    border-radius: 40px;
}
.texto-nosotros{
    font-weight: 800;
}