.btn-mia{
    background: $color-primario;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}
.boton-enlace{
    background: $color-primario;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    margin-bottom: 10px;
    width: max-content;
}
.boton-enlace:hover{
    background: rgb(58, 187, 187);
}