.comprar{
    background: salmon;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    margin-bottom: 10px;
}
.comprar:hover{
    background: rgb(247, 100, 84);
}