footer{
    width: 100%;
    overflow: hidden;
    background: $color-primario;
    margin-bottom: 20px;
    padding:20px ;
    justify-content: center;
    align-items: flex-start;
    .enlace-contacto{
        display: block;
        text-decoration: none;
        color: black;
        width: max-content;
        padding: 5px;
        line-height:normal;
        font-size: 20px;
        font-weight: bold;
    }
    .enlace-contacto:hover{
        background: rgb(58, 187, 187);
        border-radius: 40px;
    }
}